html body{
    background-color: rgb(203, 196, 196);
    height: 100%;
}

main{
    padding: 0 25% 0 25%;
    background-color: rgb(203, 196, 196);
}

form fieldset{
    background-color: rgb(134, 173, 186);
    border-radius: 10px;
    margin-top: 20px;
    border: 1px solid;
    padding: 2px;
    
}

header{
    display: flex;
    justify-content: center;
    background-color: rgb(63 0 90);
    color: white;

}

.required{
    color: red;
}

fieldset legend{
    background-color: rgb(60, 124, 156);
    border-radius: 8px;
    
    
}