*{
    font-family: 'Merriweather', serif;
}


/* navbar */
#navbar{
    background-color: rgb(67 0 86);
    position: static;
    
}
#logo{
    margin-left: 15px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 6px;
}
#logo span{
    color: #ffc800;
}
#logo #span1{
    font-size: 30px;
    
}
.navbar-nav{
    margin-left: 20px;
    padding-right: 40%;
}
.nav-item{
    
    padding-left: 20px;
}
.nav-item .nav-link{
    color: white;
    margin-left: 2px;
    text-shadow: 0px 0px 1px black;
    transition: 0.5s ease;
}
.nav-item .nav-link:hover{
    color: #ffc800;
}
.dropdown-menu li a{
    color: white;
    transition: 0.5s ease;
}
.dropdown-menu li a:hover{
    background-color: rgb(252, 243, 255);
    color: #ffc800;
}
/* navbar */